<log4net>

  <appender name="myfileappender" type="log4net.Appender.FileAppender">
    <file value="log-file.txt" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%level] - %date%newline %message%newline" />
    </layout>
  </appender>
  
  
  <root>
    <level value="ALL" />
    <appender-ref ref="myfileappender" />
    <!--<appender-ref ref="myfileappender" />-->
  </root>
</log4net>